/* header {
   padding-bottom: 20px;
  border-bottom: 1px solid #ddd; 
  
}  */

.wrapper{
  background-color: #E6EDF0;
}

.row-wrapper{
  background-color: #FFF;
}

.main{
  background-color: #fff;
}